.row.with-margin
  .col.s6.offset-s3
    .title
      %h4.center 
        - if @pipos.any?
          Habemus Pipos!
        - else
          No hay ni un Pipo!

  - @pipos.each do |key, value|
    .row
      .col.s6.offset-s3
        .center.list-pipos
          - if value == 1
            = "#{value} #{key}"
          - else
            = "#{value} #{key}s"
